.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 883px;
  display: flex;
  justify-content: space-between;
}

.input {
  width: 100%;
  max-width: 377px;
}

.buttonsWrapper {
  width: 100%;
  max-width: 272px;
  justify-content: space-between;
  display: flex;
}

.circles {
  max-width: 944px;
  margin: 48px auto 0 ;
  display: grid;
  row-gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(94px, 94px));
  justify-content: center;
  align-items: center;
}
