.wrapper {
  max-width: 944px;
  margin: 48px auto 0 ;
  display: grid;
  row-gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(94px, 94px));
  justify-content: center;
  align-items: center;
}

.form {
  margin: 0 auto;
  display: flex;
  max-width: 522px;
}

.note {
  display: flex;
  justify-self: flex-start;
  max-width: 490px;
  margin: 4px auto 0;
}


